/* 
* Horizontal Login-Form Style 
*/

#sl_horiz {
	height: 22px;
	width: 600px;
	margin-top: 17px;
	margin-left: 11px;
	float: left;
}

#sl_horiz #greeting {
	float: left;
	height: 22px;
	margin-right: 10px;
}

#sl_horiz .button {
	background-color: white;
	border: thin solid #d7d7d7;
	font-size: 100%;
	font-weight: normal;
	color: #888;
	height: 24px;
	line-height: 10px;
}

#sl_horiz #sl_username {
	float: left;
}

#sl_horiz #sl_username input {
	padding-left: 20px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	font-weight: normal;
	border: thin solid #d7d7d7;
	color: #888;
	background-color: white;
	background-image: url(user_bg.png);
	background-repeat: no-repeat;
	background-position: left;
}

#sl_horiz #sl_pass {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_pass input {
	padding-left: 20px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	font-weight: normal;
	border: thin solid #d7d7d7;
	color: #888;
	background-color: white;
	background-image: url(pass_bg.png);
	background-repeat: no-repeat;
	background-position: left;
}

#sl_horiz #sl_rememberme {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_submitbutton {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_lostpass {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_lostname {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_register {
	margin-left: 10px;
	float: left;
}

#sl_horiz #sl_posttext {
	margin-left: 10px;
	float: left;
}

/* 
* Vertical Login-Form Style 
*/

#sl_vert {
	/*font-weight: bold;
	font-size: 110%;*/
}

#sl_vert #greeting {
	text-align: center;
	float: none;
	height: 22px;
	margin-bottom: 10px;
}

#sl_vert .button {
	background-color: white;
	border: thin solid #d7d7d7;
	font-size: 100%;
	font-weight: normal;
	color: #888;
	height: 22px;
	line-height: 10px;
}

#sl_vert #sl_username {
	margin-bottom: 5px;
}

#sl_vert #sl_username input {
	padding-left: 3px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	font-weight: normal;
	border: thin solid #d7d7d7;
	color: #888;
	background-color: white;
	//background-image: url(user_bg.png);
	background-repeat: no-repeat;
	background-position: left;
}

#sl_vert #sl_pass {
	margin-bottom: 5px;
}

#sl_vert #sl_pass input {
	padding-left: 3px;
	overflow: hidden;
	width: 150px;
	font-size: 100%;
	font-weight: normal;
	border: thin solid #d7d7d7;
	color: #888;
	background-color: white;
	//background-image: url(pass_bg.png);
	background-repeat: no-repeat;
	background-position: left;
}

#sl_vert #sl_rememberme {
	margin-bottom: 5px;
}

#sl_vert #sl_submitbutton {
	margin-bottom: 5px;
	text-align: center;
}

#sl_vert #sl_lostpass {
	margin-bottom: 5px;
}

#sl_vert #sl_lostname {
	margin-bottom: 5px;
}

#sl_vert #sl_register {
	margin-bottom: 5px;
}

#sl_vert #sl_posttext {
	margin-bottom: 5px;
}

.signinbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #2d62a3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #2d62a3;
	box-shadow:inset 0px 1px 0px 0px #2d62a3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
	cursor: pointer;
}.signinbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.signinbutton:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/* This imageless css button was generated by CSSButtonGenerator.com */
